# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\laravel\storelearn\store2-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
